# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.HouseOfMadness.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Unity Project\HouseOfMadness\.idea\.idea.HouseOfMadness\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
